/* Reset CSS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/* 
Làm từ tổng quan đến chi tiết
1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng (kiểu chữ , hình tròn , vuông ,... )
*/

.clear {
    clear: both;
}


/* Common */
.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.mt-8 {
    margin-top: 8px !important ;
}

.mt-16 {
    margin-top: 16px !important ;
}


/* main */
#main {

}

#Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 46px;
    background-color: #000;
    
}

#nav {
    display: inline-block;
}
#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
    
}

#nav, .subnab {
    list-style-type: none;
}
#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    display: inline-block;
    
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
}

#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}

#nav .subnab {
    top: 100%;
    min-width: 160px ;
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnab li:hover {
    color: #000;
    background-color: #ccc;
}

#nav li:hover .subnab {
    display: block;
}
#nav .subnab a {
    
    color: #000;
    line-height: 38px;
    padding: 0 16px;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#Header .search-icon {
    font-size: 20px;
    color: #fff;
    line-height: 46px;
}

#Header .search-btn {
    float: right;
    padding: 0 24px;
}

#Header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}



#slider{
    position: relative;
    padding-top: 50%;
    margin-top: 46px;
    background: url('/assets/img/dbsk.jpeg') top center / cover no-repeat;
    
}

#slider .text-content {
    position: absolute ;
    bottom: 48px;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#slider .text-heading {
    font-weight: 500px;
    font-size: 24px;
    margin-bottom: 25px;
    
}

#slider .text-description {
   
    font-size: 15px;
}

#content{
         
    background-color: #fff;

}

#content .content-section {
    width: 800px;
    padding: 64px 16px;
    margin-left: auto;
    margin-right: auto;
    
}

#content .section-heading {
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    margin-top: 25px;
    font: 15px;
    text-align: justify;
    line-height: 1.4;
}


#content .member-list {
    margin-top: 48px;
    
}

#content .member-item {
    float: left;
    width: 33%;
    text-align: center;
}

#content .member-img {
    margin-top: 15px;
    
   width: calc(700px/3);
   border-radius: 4px;
}

#content .member-name {
    font-size: 15px;
    
}

/* Tour section */
.tour-section {
    background-color: #000;
}

.tour-section .section-heading,
.tour-section .section-sub-heading {
    color: #ccc;
}

.tickets-list {
    background-color: #fff;
    margin-top: 40px;

}

.tickets-list li {
    list-style: none;
    font-size: 15px;
    color: #757575;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}


.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

/* Place */


.place-item {
    float: left;
    width: 33.33333%;
    padding: 0 8px;
}

.place-heading {
    font-size: 15px;
    font-weight: 550;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}

.places-list {
    padding-bottom: 48px;
    margin-top :32px;
    margin-left: -8px;
    margin-right: -8px;
}

.place-img {
    display: block;
    width: 100%;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-btn {
    display: inline-block;
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    margin-top: 15px;
    border: none;
}

.place-btn:hover {
    cursor: pointer;
    color: #000;
    background-color: #ccc;
}


.modal.open {
    display: flex;
}


.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-container {
    position: relative;
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    animation: modalFadeIn ease 0.5s
}

.modal-header {
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center ;
    font-size: 30px;
    color: #fff;
}

.modal-header i {
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    opacity: 0.8;
}

.modal-close:hover {
    opacity: 1;
    cursor: pointer;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block ;
    font-size: 15px;
    margin-bottom: 12px ;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;
}

#buy-tickets {
    background : #009688;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    border: none;
    
}

#buy-tickets:hover {
    cursor: pointer;
    opacity: 0.9;
    
}


.modal-footer {
    padding: 16px;
    text-align: right;
    
}

.modal-footer a {
    color: #2196f3 ;
}





@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
    
}





/* Contact From */

.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*=ti-] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.contact-form .form-submit-btn {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 11px 17px;
    float: right;
}

.contact-form .form-submit-btn:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}


/* Map */
.map-section img {
    width: 100%;
}


#footer{
    padding: 64px 16px;
    text-align: center;
}

#footer .social {
    font-size: 24px;
}

#footer .social a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .social a:hover {
    color: rgba(0, 0, 0, 0.3);
}

#footer .copyright {
    color: rgba(0, 0, 0, 0.6);
    margin-top: 15px;
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
    margin-top: 15px;
}